{% extends "base.html" %}

{% block title %} Login {% endblock %}

<!--Overriding the block text from the base template-->
{% block text %}

<!--Including a html file that is used to flash messages to the user-->
{% include "flash_messages.html" %}

<!--Using the rectangle class to make the monitor appear on the login page-->
<div class="rectangle" style="display: flex; justify-content: center; align-items: center; flex-direction:column;">
    <h3>Login</h3>

    <!--Creating a form for the user to login-->
    <form action="#" method="post">
        <br>
        <h4>Username:</h4>
        <input type="text" name="user">
        <h4>Password:</h4>
        <input type="password" name="password">
        <br>
         <input type="submit" value="Submit" style="background-color: #000000;
             border: none;
             color: white;
             padding: 10px 26px;
             text-align: center;
             text-decoration: none;
             display: inline-block;
             font-size: 16px;
             margin: 4px 2px;
             transition-duration: 0.4s;
             cursor: pointer;
             border-radius: 6px;>
             border-radius: 6px;">
    </form>

</div>

<div class="narrow-rectangle"> </div>
<div class="last-rectangle"> </div>

<!--End of the block text-->
{% endblock %}